<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Include header content -->
    <%- include('head') %>
  </head>

  <body>
    <header>
      <!-- Include Navbar -->
      <%- include('navbar') %>
    </header>
    <main class="row">
      <div class="trendChlBoard col-md-12 col-sm-12">
        <p>Tredning Challenges</p>
        <div class="trendChlBox">
          <img
            style="display: block"
            src="./images/icons/Man Running Dark Skin Tone.png"
            alt="Running"
          />
          <p>Best Runners!</p>
          <button>Join the Challenge</button>
        </div>
      </div>
      <div class="dfChallengesboard">
        <div class="suggestion">
          <p>Suggested for you</p>
        </div>
        <div class="dfChallenges">
          <div id="swim">
            Swim
            <div>
              <img src="./images/icons/Group 1.png" alt="" />
            </div>
            <button class="add-challenge-btn">+</button>
            <p>30m</p>
          </div>
          <div id="reading">
            Reading
            <div>
              <img src="./images/icons/Reading.png" alt="" />
            </div>
            <button class="add-challenge-btn">+</button>
            <p>45m</p>
          </div>
          <div id="Climbing">
            Climbing
            <div>
              <img src="./images/icons/Climing.png" alt="" />
            </div>
            <button class="add-challenge-btn">+</button>
            <p>1h 30m</p>
          </div>
          <div id="Meditate">
            Meditate
            <div>
              <img src="./images/icons/Meditate.png" alt="" />
            </div>
            <button class="add-challenge-btn">+</button>
            <p>25m</p>
          </div>
          <div id="Walk">
            Walk
            <div>
              <img src="./images/icons/Walk.png" alt="" />
            </div>
            <button class="add-challenge-btn">+</button>
            <p>75m</p>
          </div>
        </div>
      </div>
    </main>

    <!-- Include Footer -->
    <%- include('footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
