<!-- Footer -->
<footer class="footer-custom py-4">
  <div class="container text-center">
    <p>&copy; 2024 HappyStreak. All rights reserved.</p>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/custom.js"></script>
